#
# /etc/nsswitch.conf
#
# An example Name Service Switch config file. This file should be
# sorted with the most-used services at the beginning.
#
# The entry '[NOTFOUND=return]' means that the search for an
# entry should stop if the search in the previous entry turned
# up nothing. Note that if the search failed due to some other reason
# (like no NIS server responding) then the search continues with the
# next entry.
#
# Valid entries include:
#
#	nisplus			Use NIS+ (NIS version 3)
#	nis			Use NIS (NIS version 2), also called YP
#	dns			Use DNS (Domain Name Service)
#	files			Use the local files
#	db			Use the local database (.db) files
#	compat			Use NIS on compat mode
#	hesiod			Use Hesiod for user lookups
#	[NOTFOUND=return]	Stop searching if not found so far
#

# To use db, put the "db" in front of "files" for entries you want to be
# looked up first in the databases
#
# Example:
#passwd:    db files nisplus nis
#shadow:    db files nisplus nis
#group:     db files nisplus nis

passwd:     {{nss_pam_ldap_nss_passwd | default(["files", "ldap"]) | join(" ")}}
shadow:     {{nss_pam_ldap_nss_shadow | default(["files", "ldap"]) | join(" ")}}
group:      {{nss_pam_ldap_nss_group | default(["files", "ldap"]) | join(" ")}}

hosts:      {{nss_pam_ldap_nss_hosts | default(["files", "dns", "myhostname", "mymachines", "ldap"]) | join(" ")}}

bootparams: {{nss_pam_ldap_nss_bootparams | default(["files", "ldap"]) | join(" ")}}

ethers:     {{nss_pam_ldap_nss_ethers | default(["files", "ldap"]) | join(" ")}}
netmasks:   {{nss_pam_ldap_nss_netmasks | default(["files", "ldap"]) | join(" ")}}
networks:   {{nss_pam_ldap_nss_networks | default(["files", "ldap"]) | join(" ")}}
protocols:  {{nss_pam_ldap_nss_protocols | default(["files", "ldap"]) | join(" ")}}
rpc:        {{nss_pam_ldap_nss_rpc | default(["files", "ldap"]) | join(" ")}}
services:   {{nss_pam_ldap_nss_services | default(["files", "ldap"]) | join(" ")}}

netgroup:   {{nss_pam_ldap_nss_netgroup | default(["ldap"]) | join(" ")}}

publickey:  {{nss_pam_ldap_nss_publickey | default(["files", "ldap"]) | join(" ")}}

automount:  {{nss_pam_ldap_nss_automount | default(["files", "ldap"]) | join(" ")}}
aliases:    {{nss_pam_ldap_nss_aliases | default(["files", "ldap"]) | join(" ")}}
